.taskBody {
  width: 80rem;
}

.addTaskBox button {
  height: 55px;
  border-radius: 0 0.3rem 0.3rem 0;
}

.bucketBtn {
  height: 38px;
}

.taskSetInpArea {
  padding: 0.5rem 0;
}

.modalAction {
  text-align: right;
}

.taskListContainer {
  width: 100%;
  min-height: 20rem;
  background-color: #dfdedd;
  border-radius: 0.3rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px 0px #505050;
}
